---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h4>应用过滤源码地址(喜欢麻烦给个star)</h4>
  <a href="https://github.com/destan19/OpenAppFilter">https://github.com/destan19/OpenAppFilter</a>
  {%- if site.posts.size > 0 -%}

  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
  {% assign imgs = site.static_files | where: "oaf_image", true %}
  {% for img in imgs %}

  <img src={{img.path}}></img>

  {% endfor %}

</div>
