---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1>免责声明：</h1>
  <p>
    应用过滤插件采用dpi技术，基于协议进行识别，包含端口号、ip地址、url以及应用层的相关协议，  
    如http、https、游戏交互等，不会分析数据中的具体内容，比如聊天内容、搜索内容等敏感数据，  
    所有的分析都是基于标准可见的协议，请放心使用。使用该应用过滤软件表示同意协议分析权限，  
    如不同意，请卸载该软件。  
  </p>
  {%- if site.posts.size > 0 -%}

  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
  {% assign imgs = site.static_files | where: "oaf_image", true %}
  {% for img in imgs %}

  <img src={{img.path}}></img>

  {% endfor %}

</div>
